#card {
    width: 36rem;
}

.card-header{
    text-align: center;
    font-size: 28px;
}

.card {
    float: none;
    margin: auto auto 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
}
